.card__container {
    width: 280px;
    padding: 32px;

}

.card__cabecalho {
    background-color: #F0F0F0;
    border-radius: 10px 10px 0 0;
}

.card__cabecalho img {
    width: 100px;
    height: 142px;
    position: relative;
    bottom: -50px;
}

.card__rodape {
    background: #FFFFFF;
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.08);
    padding-top: 90px;
    padding-bottom: 40px;
    border-radius: 0 0 10px 10px;
}

.card__rodape h4 {
    color: #6278f7;
    font-size: 18px;
    line-height: 22px;
    font-weight: bold;
    margin-top: 8px;
}

.card__rodape h5 {
    font-size: 18px;
    line-height: 22px;
    color: #212121;
    padding: 0 16px;
}

