.body__container {
    display: flex;
    background-image: url("/public/imagens/banner-sololeveling.jpeg");
    background-repeat: no-repeat;
    background-position: center;
    opacity: 90%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 15px;
}

.elementos__body {
    color: white;
    font-family: 'Times New Roman', Times, serif;
    margin: 10px;
    font-weight: bold;
    opacity: 100%;
    text-align: center;
}

@media (min-width: 800px) {
    .body__container {
        padding: 0 32%;
        border-radius: 100%;
    }
}
